<?xml version="1.0"?>
<config>
    <modules>
        <Rofcustom_Googlecmsimport>
            <version>0.1.0</version>
        </Rofcustom_Googlecmsimport>
    </modules>
    <admin>
        <routers>
            <rofcustom_googlecmsimport>
                <use>admin</use>
                <args>
                    <module>Rofcustom_Googlecmsimport</module>
                    <frontName>googlecmsimport</frontName>
                </args>
            </rofcustom_googlecmsimport>
        </routers>
    </admin>
    <global>
        <models>
            <googlecmsimport>
                <class>Rofcustom_Googlecmsimport_Model</class>
            </googlecmsimport>
        </models>
        <blocks>
            <googlecmsimport>
                <class>Rofcustom_Googlecmsimport_Block</class>
            </googlecmsimport>
        </blocks>
        <helpers>
            <googlecmsimport>
                <class>Rofcustom_Googlecmsimport_Helper</class>
            </googlecmsimport>
        </helpers>
        <!--<rewrite>-->
            <!--<mage_adminhtml_system_variable>-->
                <!--<from><![CDATA[#^/googlecmsimport/system_variable#]]></from>-->
                <!--<to>/admin/system_variable</to>-->
            <!--</mage_adminhtml_system_variable>-->
        <!--</rewrite>-->
        <!--
        <resources>
            <googlecmsimport_setup>
                <setup>
                    <module>Rofcustom_Googlecmsimport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </googlecmsimport_setup>
            <googlecmsimport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </googlecmsimport_write>
            <googlecmsimport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </googlecmsimport_read>
        </resources>-->
    </global>
    <frontend>
        <routers>
            <googlecmsimport>
                <use>admin</use>
                <args>
                    <module>Rofcustom_Googlecmsimport</module>
                    <frontName>googlecmsimport</frontName>
                </args>
            </googlecmsimport>
        </routers>
        <layout>
            <updates>
                <googlecmsimport>
                    <file>googlecmsimport.xml</file>
                </googlecmsimport>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <googlecmsimport translate="title">
                            <title>Google CMS Import</title>
                            <children>
                                <index translate="title">
                                    <title>Index</title>
                                </index>
                            </children>
                            <sort_order>65</sort_order>
                        </googlecmsimport>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <googlecmsimport>
                                            <title>Google Import</title>
                                        </googlecmsimport>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <googlecmsimport_menu translate="title" module="googlecmsimport">
                <title>Google CMS Import</title>
                <sort_order>65</sort_order>
                <children>
                    <index translate="title" module="googlecmsimport">
                        <title>Index</title>
                        <action>googlecmsimport</action>
                    </index>
                    <import translate="title" module="googlecmsimport">
                        <title>Import</title>
                        <action>googlecmsimport/index/import</action>
                    </import>
                </children>
            </googlecmsimport_menu>
        </menu>
    </adminhtml>
</config>