.htaccess
.DS_Store
.idea
error_log
DEV_NOTES
cache
robots.txt
/app/etc/local.xml
magmi/
media/wysiwyg/.thumbs
media/catalog
media/js*
media/css*
var/backups
var/importexport/
var/session
var/cache
var/locks
var/report
var/resource_config.json
