/.htaccess
.DS_Store
/.idea
/.idea/*
/var/session/*
/var/cache/*
/var/locks/*
/var/report/*
*error_log
*DEV_NOTES
*_snapshot_*
/var/backups/archive
/var/backups
#/media/catalog/*
/app/etc/local.xml
/robots.txt
#/sitemap.xml
/var/importexport/*
/media/js*
/media/css*
/media/wysiwyg/.thumbs
media/catalog/product/cache
media/optimages/cache
/var/resource_config.json
/media/catalog

