<?xml version="1.0"?>
<config>
    <modules>
        <Rofcustom_General>
            <version>2.0.0</version>
        </Rofcustom_General>
    </modules>
    <frontend>
        <routers>
            <contacts>
                <use>standard</use>
                <args>
                    <module>Mage_Contacts</module>
                    <frontName>contact-us</frontName>
                </args>
            </contacts>
        </routers>
    </frontend>
    <global>
        <helpers>
            <general>
                <class>Rofcustom_General_Helper</class>
            </general>
        </helpers>
        <models>
            <rofcustomgeneral>
                <class>General_Model</class>
            </rofcustomgeneral>
        </models>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <rofcustom_general_model_observer>
                        <type>singleton</type>
                        <class>Rofcustom_General_Model_Observer</class>
                        <method>cmsLocations</method>
                    </rofcustom_general_model_observer>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
</config>