/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

hr {
    border-color: #e6e6e6;
}

a[href="javascript:void(0)"],
#profiler_section {
    display: none !important;
}

.std {
    position: relative;
    clear: both;
}

.justify {
    text-align: justify;
}

.box-content p {
    text-align: justify;
    padding: 0 1.2em;
}

label input[type=checkbox] {
    vertical-align: middle;
}

input[type=checkbox] label {
    float: left;
}

@-webkit-keyframes ease-blink {
    0% {-webkit-opacity: 1.0;}
    40% {-webkit-opacity: 0.5;}
    50% {-webkit-opacity: 0.0;}
    60% {-webkit-opacity: 0.5;}
}
@-moz-keyframes ease-blink {
    0% {-moz-opacity: 1.0;}
    40% {-moz-opacity: 0.5;}
    50% {-moz-opacity: 0.0;}
    60% {-moz-opacity: 0.5;}
}
@-o-keyframes ease-blink {
    0% {-o-opacity: 1.0;}
    40% {-o-opacity: 0.5;}
    50% {-o-opacity: 0.0;}
    60% {-o-opacity: 0.5;}
}
@keyframes ease-blink {
     0% {opacity: 1.0;}
    40% {opacity: 0.5;}
    50% {opacity: 0.0;}
    60% {opacity: 0.5;}
}
.ease-loading {
    -webkit-animation: ease-blink 3s linear 2s infinite alternate;
    -moz-animation: ease-blink 3s linear 2s infinite alternate;
    -o-animation: ease-blink 3s linear 2s infinite alternate;
    animation: ease-blink 3s linear 2s infinite alternate;
    text-align: center !important;
    text-transform: lowercase;
    font-family: "Tahoma", Helvetica;
    color: #888;
    font-size: 22px;
    font-variant: small-caps;
}

/* #Page Styles
================================================== */

.self-clear:before,
.self-clear:after { content: "\00D\00A"; display: block; height: 0; clear: both; visibility: hidden; width: 0; overflow: hidden; }

.offset-by-half { padding-left: 30px; }

.offset-by-half.by-margin {
    padding-left: 0px;
    margin-left: 30px !important;
}

.offset-by-one.by-margin {
    padding-left: 0px;
    margin-left: 60px !important;
}

.offset-by-two.by-margin {
    padding-left: 0px;
    margin-left: 120px !important;
}

.offset-by-three-important.by-margin {
    padding-left: 180px !important;
}

.hashborder {
    min-height: 40px;
    position: relative;
    background: transparent url('../images/hash-border-darker.png') 0 0 repeat;
    height: auto;
}
.hashborder-border {
    width: 100%;
    height: 10px !important;
    display: block;
}
.hashborder-border._05 {
    height: 5px !important;
}
.displaynone { display: none !important; }

.inlineblock { display: inline-block !important; }

.show-mobile.no-display,
.show-mobile-inline.no-display {
    display: none;
}

.cms-index-index /*home-page*/ .std p {
    margin: 0;
}

.nav-main-item.search,
.nav-main-item.search:hover,
.nav-main-item.search.selected,
.nav-main-item.search.selected:hover {
    background-image: url('../images/nav-main-unselected.png') !important;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/