 @import url("mobile-nav.css");
 
  @media only screen and (max-width: 1100px) and (min-width: 1000px) {
 
 body {
    min-width: 1000px;
}

}
 @media only screen and (max-width: 1000px) {
#right_column, #left_column {
	width: 100% !important;
}
}
 @media only screen and (max-width: 1000px) {
body {
	-webkit-text-size-adjust: none;
}
BUTTON, INPUT[type="button"], INPUT[type="submit"], INPUT[type="reset"] {
	-webkit-appearance: button;
	-moz-appearance: button;
	-ms-appearance: button;
	-o-appearance: button;
	appearance: button;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
#center_column {
	width:100% !important;
}
.footer-info img {
	width:100%;
	height:auto;
}
html .products-grid {
	display: block;
	float: none;
	margin: 0 auto;
	width: 100%;
}
.promo-home li {
	width: 26% !important;
}
.promo-home li img {
	width: 100% !important;
}
.category-list li {
	margin-right: 2%;
	width: 32% !important;
}
.category-list li img {
	width: 100% !important;
}
#pb-right-column {
	float: left;
	width: 49%;
}
#pb-left-column {
	float: right;
	margin-left: 0;
	width: 49% !important;
}
#pb-right-column img {
	width:100%;
	height:auto;
}
}
 @media only screen and (max-width: 800px) {
body {
	-webkit-text-size-adjust: none;
	min-width:300px;
}
BUTTON, INPUT[type="button"], INPUT[type="submit"], INPUT[type="reset"] {
	-webkit-appearance: button;
	-moz-appearance: button;
	-ms-appearance: button;
	-o-appearance: button;
	appearance: button;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.logo {
	display: block;
	float: none;
	margin: 10px 0 !important;
	padding: 0 !important;
	text-align: center;
	width: 100%;
}
#iview div.iview-directionNav {
	display:none !important;
}
html #searchbox {
	clear: both;
	display: block;
	float: right;
	margin: 4px 20px 0 0;
	max-width: 215px;
	position: relative;
	z-index: 888;
}
.quick-access {
	display:none;
}
.btn-group-top-desctop {
	display:none !important;
}
.btn-group-top-mobile {
	display: block !important;
	margin-right: 20px;
}
.btn-group-top-mobile .dropdown-menu {
	left:auto !important;
	right:0 !important;
}
.btn-group-top-mobile .dropdown-menu {
	z-index:200;
	float:none;
}
header {
	min-height: 180px;
}
.top-links {
	display: inline-block;
	float: none;
	height: auto !important;
}
.dropdown-toggle {
	border:none !important;
	background:none !important;
	color:#fff !important;
}
.navbar .nav > li {
	float:none;
}
.navbar .nav > li > a {
	margin:5px 0;
}
.promo-home li {
	margin: 0 1% 1% 5% !important;
	padding: 4%;
	text-align: center;
	width: 18% !important;
}
.promo-home li img {
	width: 100% !important;
}
.category-list {
	padding:10px 0 0 0;
}
.category-list h3 a {
	display:none;
}
.category-list li {
	margin-left: 1%;
	margin-right: 1%;
	text-align: center;
	width: 31% !important;
}
.category-list li img {
	height: auto;
	width: 100% !important;
}
#center_column {
	margin: 0 !important;
	padding-top: 2%;
	width: 100% !important;
}
html .products-grid li.item {
	width: 100% !important;
	margin: 10px 0 !important;
}
html .page-title {
	padding: 2%;
	text-transform: uppercase;
	width: 96%;
}
html .breadcrumb {
	float: none;
	font-family: Open Sans;
	font-size: 13px;
	margin-top: 0;
	padding: 2%;
	width: 96%;
}
.width-carousel .products-grid li.item {
	width: auto !important;
}
.error-msg, .success-msg, .note-msg, .notice-msg {
	float: none;
	margin: 2% !important;
	padding-top: 15px !important;
	width: auto !important;
}
.messages {
	margin: 10px 0 !important;
	width: 100%;
}
.products-list .product-image {
	display: block;
	float: none;
	height: auto;
	margin:  0;
	text-align: center;
	width: 100%;
}
.products-list .product-image img {
	width:100%;
	height:auto;
}
.products-list .product-shop {
	padding-left:20px;
}
.products-list .product-shop {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	padding-bottom: 40px;
	position: relative;
}
.products-list li.item .btn-set {
	bottom: 0;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}
.products-list .desc {
	margin: 0 0 15px;
}
table, thead, tfoot, tbody {
	display:block;
}
.cart tfoot, .cart thead {
	display:none;
}
.input-qty-box .range, .input-qty-box .input .range li {
	float:none !important;
	margin: 0 auto;
	max-width: 130px;
	padding: 0 0 0 35px;
}
.data-table tbody td dt, .cart-table .product-name {
	text-align:center;
}
table th {
	padding: 5px !important;
	text-align: center !important;
	vertical-align: middle !important;
	display: none;
	width: 100% !important;
}
table td {
	border-left: 0 none !important;
	border-right: 0 none !important;
	display: block;
	padding: 5px !important;
	text-align: center !important;
	vertical-align: middle !important;
	width: auto !important;
}
table tr {
	display: block;
}
.product-view .product-shop {
	float: none;
	width: 100% !important;
}
.product-view .product-img-box {
	float: none;
	width: 100%;
}
.col2-set .col-2, .col2-set .col-1, .col2-set {
	float: none;
	width: 100% !important;
}
.cart .cart-collaterals .col2-set {
	float: none;
	width: 100%;
}
.cart .totals {
	float: none;
	width: 100%;
}
.add-to-box-wrap .btn-cart {
	margin-bottom: 2%;
	margin-right: 2%;
	margin-top: 2%;
	width: 96%;
}
.add-to-box-wrap {
	float: none;
	width: auto;
}
.product-collateral {
	padding: 3%;
}
#login-form label {
	display: block;
	float: none;
	margin-left: 0;
	text-align: left;
	width: auto;
}
.form-list label.required em {
	left: -8px;
	right:auto !important;
}
.pagination ul {
	float: none;
	margin: 10px;
}
.pagination .item-total {
	float: none;
	font-size: 13px;
	margin: 10px;
}
html .pagination {
	display: inline-block;
	margin: 0;
	width: 100%;
}
#footer h4 {
   margin-bottom: 0 !important;
    text-align: center;
}
#footer .block {
	margin: 0 5% !important;
	width: 90%;
}

#footer li {
    list-style: none outside none;
    padding: 7px 0 1px;
    text-align: center;
}


#footer .block .block_content {
	display:none;
	text-align:center;
	padding-top:10px;
}
html #pb-right-column, html #pb-left-column {
	float: none;
	width: 100% !important;
}
.i-tab li {
	margin: 0 !important;
	padding: 3%;
	width: 94% !important;
}
.form-add-comment textarea {
	width: 100% !important;
}
.footer-wrap {
	padding: 5% 0;
	width: 90% !important;
}
.category-full-image {
	display:none;
}
.title-container {
	top:0 !important;
}
.lg-panel {
	float: left;
	text-align: left;
}
.lg-panel a {
	float:left;
}
.toolbar {
	border-right:0 !important;
	border-left:0 !important
}
#scroll-top-img {
	left:37%;
}
html #footer-absolute {
	border-bottom: 1px solid #4C4C4C;
	margin-bottom: 70px;
	padding: 0 0 44px;
	position: relative;
	text-align: center;
}
html .copy {
	bottom: 0;
	color: #FFFFFF;
	font-size: 11px;
	left: 0;
	position: relative;
	text-align: center;
}
html .social {
	bottom: 0;
	margin: 10px 0;
	position: relative;
	right: 0;
	text-align: center;
}
.cart .totals .checkout-types {
	text-align: center;
}
.col3-set .col-1, .col3-set .col-2, .col3-set .col-3 {
	float: none;
	margin: 1% auto;
	width: 91% !important;
}
.product-view .box-tags .form-add input.input-text {
	width: auto !important;
}
#product_tabs_tags_tabbed_contents .input-box {
	width: auto !important;
}
.rating-box {
	margin: 0 auto !important;
}
#product-review-table tbody th {
	display: block !important;
	padding: 3% !important;
	text-align: center;
	text-transform: uppercase;
	width: 94% !important;
}
html #review-form .form-list label {
	color: inherit;
	display: block;
	float: none;
	font-size: 13px;
	font-weight: normal;
	margin-right: 20px;
	position: relative;
	text-align: left;
	width: auto;
	z-index: 0;
}
.ui-slider {
	float: none !important;
}
.form-list li.wide .input-box {
	width:auto;
}
.form-list li.wide select {
	width: auto;
}
}
