/* One Page Checkout Custom Styles
   ********************************************************************/

/* General One Page Checkout Text Styles
*****************************************************/
.opc-wrapper-opc * {
    font-family: 'Open Sans', Arial, Helvetica;
    color: #393939;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.opc-wrapper-opc input {
    margin-bottom: 0 !important;
}

.opc-wrapper-opc input[type="text"],
.opc-wrapper-opc input[type="password"] {
    border: 1px solid #d8d8d8;
    height: 22px;
    padding: 0;
    width: 100%;
}

/* Cart Toggle Link
*****************************************************/
.opc-wrapper-opc #cart-cartbox.hide-items #cart-cartbox-toggle,
.opc-wrapper-opc #cart-cartbox.collapse #cart-cartbox-toggle,
.opc-wrapper-opc #cart-cartbox.hide-items #cart-cartbox-toggle span,
.opc-wrapper-opc #cart-cartbox.collapse #cart-cartbox-toggle span,
.opc-wrapper-opc #cart-subtotal-header {
    color: #8a6399 !important;
    font: normal 16px/16px "Tahoma" !important;
    text-decoration: none;
}

.opc-wrapper-opc #cart-subtotal-header {
    font-weight: bold !important;
}

/* One Page Checkout Heading - Move Login Link Here
****************************************************/
.opc-wrapper-opc .page-title {
    display: inline-block;
    white-space: nowrap;
}

.opc-wrapper-opc .page-title .text-login {
    display: inline-block;
    margin: 0;
    padding-left: 10px;
}

/* Column And Field Adjustments for Proper Display
****************************************************/
.opc-wrapper-opc #cart-cartbox.hide-items #cart-cartbox-toggle,
.opc-wrapper-opc #cart-cartbox.collapse #cart-cartbox-toggle {
    height: 40px !important;
}

.opc-wrapper-opc .opc-col-left h3 {
    margin-bottom: 5px;
}

.opc-wrapper-opc .opc-col-left h3,
.opc-wrapper-opc .opc-col-center h3 {
    margin: 10px auto 5px;
}

.opc-wrapper-opc .opc-col-left,
.opc-wrapper-opc .opc-col-center {
    margin-right: 10px !important;
    margin-left: 18px !important;
    width: 45% !important;
}

@media print {
    .opc-wrapper-opc .opc-col-left {
        float: left !important;
        max-width: 45%;
    }
    .opc-wrapper-opc .opc-col-center {
        float: right !important;
        max-width: 45%;
    }
}

.opc-wrapper-opc .opc-col-right {
    margin-left: 10px !important;
    float: right !important;
}

.opc-wrapper-opc .wide .field,
.opc-wrapper-opc .fields .field {
    width: 100% !important;
    height: 45px !important;
}


.opc-wrapper-opc .fields:after,
.opc-wrapper-opc .fields .field:after,
.opc-wrapper-opc .wide:after { content: "\00D\00A"; display: block; height: 0; clear: both; visibility: hidden; }

.opc-wrapper-opc .wide .field label,
.opc-wrapper-opc .wide label,
.opc-wrapper-opc .fields .field label {
    height: 22px;
    padding-top: 5px;
    margin-left: 5px;
}

.opc-wrapper-opc .wide .field label.required em,
.opc-wrapper-opc .wide label.required em,
.opc-wrapper-opc .fields .field label.required em {
    width: 20px;
    margin-left: 0px;
    margin-right: 5px;
}
.opc-wrapper-opc .wide label:not(.required),
.opc-wrapper-opc .fields label:not(.required) {
    margin-left: 18px;
}

.opc-wrapper-opc .wide .input-box input:last-child {
    margin-bottom: 0px;
}

.opc-wrapper-opc .wide > .input-box {
    height: 22px;
}

.opc-wrapper-opc label {
    color: #393939;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.25em;
    margin-bottom: 2px;
    text-align: left;
}

.opc-wrapper-opc .form-list ul {
    margin-left: 0;
}

.opc-wrapper-opc .opc-data-table th {
    padding-left: 0;
    text-align: left;
}

/* One Page Checkout Shipping Methods Section
******************************************************/
.sp-methods ul li input {
    display: inline-block !important;
    float: left;
    margin-right: 5px;
}

/* One Page Checkout Payment Methods Section
******************************************************/
.opc-wrapper-opc .payment-block {
    margin-top: 10px !important;
}
.opc-wrapper-opc #co-payment-form {
    padding-top: 20px;
    margin-bottom: 0px;
    display: block;
}

.opc-wrapper-opc #co-payment-form fieldset {
    margin-bottom: 0px;
}

.has-credit-card-logos {
    height: 32px;
    overflow: hidden;
}

/* Credit Cart Type Auto-Select Styles
******************************************************/
#credit-cart-type-wrap {
    height: 0;
    margin-left: -10000px;
}
#credit-card-type {
    position: relative;
    width: 52px;
    top: -40px;
    right: -2px;
    z-index: 99;
    left: auto;
    margin-left: -50px;
    overflow: hidden;
    height: 38px;
    float: right;
}
#credit-card-type li {
    display: none;
    width: 51px;
    height: 32px;
    background: url('../images/credit-card-icons.jpg') 0 -32px no-repeat;
    margin: 5px 6px 0 0;
    overflow: hidden;
    text-indent: -500em;
    float: left;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    position: absolute;
    z-index: 9;
}
#credit-card-type li.active {
    display: block;
    top: 0;
}
#credit-card-type .NN {
    display: none;
}
#credit-card-type .NN.active {
    display: block;
    background: none;
    background-color: transparent;
}
#credit-card-type .VI {background-position: 0px -32px;}
#credit-card-type .MC {background-position: -51px -32px;}
#credit-card-type .AE {background-position: -102px -32px;}
#credit-card-type .DI {background-position: -153px -32px;}
#credit-card-type .VI.active {background-position: 0px 0px;}
#credit-card-type .MC.active  {background-position: -51px 0px;}
#credit-card-type .AE.active  {background-position: -102px 0px;}
#credit-card-type .DI.active  {background-position: -153px 0px;}

/* Credit Card Expiration Date Styles
***********************************************************/
#paypal_direct_expiration,
#paypal_direct_expiration_yr {
    width: 49%;
    display: inline-block;
}

.opc-wrapper-opc .required-entry + .validation-advice {
    display: none;
}

.opc-wrapper-opc .validation-failed {
    background-color: rgb(255, 69, 69);
    background-color: rgba(255, 69, 69, 0.3);
}

/* Credit Card Verification Code Styles
****************************************************/
#paypal_direct_cc_type_cvv_div label {
    text-indent: 60%;
}
#paypal_direct_cc_cid {
    width: 40%;
    float: right;
}
.opc-wrapper-opc .payment-block .tool-tip {
    top: 0 !important;
    position: absolute;
    background: #FFF;
    padding: 20px;
    margin: -20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 16px 4px black;
}
#payment-tool-tip-close {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    text-align: right;
}

/* Customize Password Form
*************************************************/
#opc-account-form-password {
    width: 100%;
}
#toggle-custom-password-fields {
    margin-left: 1em;
    text-decoration: underline;
    font-size: 0.7em;
    font-family: 'Tahoma', Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
    color: #888;
    text-transform: capitalize;
    top: -0.15em;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
#toggle-custom-password-fields:hover {
    color: #8a6399;
    text-decoration: none;
}

/* Discount Coupon Form
************************************************/
.opc-wrapper-opc .discount-block,
.opc-wrapper-opc .discount-block form {
    margin: 0px auto !important;
}


/* One Page Checkout Review Section
******************************************************/
.opc-wrapper-opc #checkout-review-table .a-right,
.opc-wrapper-opc #checkout-review-table .a-center,
.opc-wrapper-opc #checkout-review-table .a-left {
    vertical-align: middle !important;
}

.opc-wrapper-opc .product-name {
    text-indent: -10px;
    padding-left: 15px !important;
}

.cart-cartbox-table-product-detail-img-wrap {
    margin-bottom: 2px !important;
    background-color: transparent;
    background-image: url('../images/hash-border-darker.png');
}


.opc-wrapper-opc .item-options {
    padding-left: 10px;
}

.opc-wrapper-opc .item-options dt {
    float: left;
    margin-right: 5px;
    text-transform: capitalize;
    margin-left: 10px;
    font-size: 85%;
}
.opc-wrapper-opc .item-options dt:after {
    content: " -";
}

.opc-wrapper-opc .item-options dd {
    font-size: 85%;
}

.opc-wrapper-opc .opc-data-table {
    width: 90% !important;
    margin: 10px auto;
}

.opc-wrapper-opc .review-after{
    background: #FFF;
    margin-top: -10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
}

.opc-wrapper-opc .review-after #iframe-warning {
    height: 0px !important;
    text-indent: -10000px;
}

/* Product Color Swatch Values (For Use as Border Color around Product Image) **************
********************************************************************************************/
.cart-cartbox-table-product-detail-img-wrap.peach {
    background-color: #EDDFCC;
    background-image: none;
}
.cart-cartbox-table-product-detail-img-wrap.pink {
    background-color: #DD95BC;
    background-image: none;
}
.cart-cartbox-table-product-detail-img-wrap.blue {
    background-color: #56B2DD;
    background-image: none;
}

/* Fix Misc Floats and Element Labels
******************************************************/

.opc-wrapper-opc form span.no-display,
.opc-wrapper-opc .form-list .control input,
.opc-wrapper-opc form dt input,
.opc-wrapper-opc .opc-newsletter .input-box {
    float: left;
    margin: 2px 5px 0 15px;
    width: auto !important;
}

/* Fix PayPal Logo Positioning
********************************************************/
.opc-wrapper-opc form dt [for="p_method_paypal_express"] img {
    vertical-align: text-top;
    margin-top: -0.5em;
}

/* One Page Checkout Buttons
*********************************************************/

.opc-wrapper-opc .button {
    display: block;
    border: none;
    margin: 0 auto;
    float: left;
    background: none;
    text-indent: -10000px;
    width: 80px;
    height: 40px !important;
}

.opc-wrapper-opc .discount-block .input-box input {
    margin-bottom: 10px !important;
}

.opc-wrapper-opc .discount-block .buttons-set {
    margin-top: 10px !important;
}

.opc-wrapper-opc .button.apply-coupon {
    background: transparent url('../images/checkout-apply-coupon-btn.png') center center no-repeat;
    width: 130px;
    height: 30px !important;
    float: right !important;
}

.opc-wrapper-opc .button.remove-coupon {
    text-indent: 0;
    float: right !important;
    font-size: 14px;
    font-weight: 400;
    margin-right: 20px !important;
}

.opc-wrapper-opc .button.btn-checkout {
    background: transparent url('../images/cart-checkout-btn-wide.png') center center no-repeat;
    width: 330px;
    margin: 10px auto 20px;
    float: none;
    background-size: 100% 40px;
}
