/*******************************\
* Styles for Global Page Header *
\*******************************/

#logo-main {
    float: right;
    margin-right: -5px;
}

#logo-main-mobile {
    margin: 0 auto;
}

#page-header {
    position: relative;
    margin: 10px 0;
    height: 150px;
    z-index: 999;
}

#page-header + div > .account-box,
#page-header + .account-box {
    margin-top: 10px;
}

nav a {
    text-decoration: none;
}


#page-header
.nav-top {
    position: absolute;
    top: 7px;
    right: 12px;
    height: 29px;
    z-index: 998;
}

#page-header
.nav-top-list {
    /*padding: 3px 0;*/
    min-width: 220px;
}

#page-header
.nav-top-item {
    display: inline;
    list-style-type: none;
    color: #666666;
    font-size: 12px;
    border: 1px solid #ccc;
    /*border-radius: 7px/9px;*/
    border-right: none;
    margin: -2px;
    padding: 5px 7px;
    background: #FFF;
    font-family: 'Tahoma', Helvetica, "Helvetica Neue", Arial, sans-serif;
}

#page-header
.nav-top-item.first {
    /*border-radius: 7px 0 0 7px / 9px 0 0 9px;*/
    border-radius: 15px 0 0 15px;
}

#page-header
.nav-top-item.last {
    border-right: 1px solid #ccc;
    /*border-radius: 0 7px 7px 0 / 0 9px 9px 0;*/
    border-radius: 0 15px 15px 0;
}

#page-header
.nav-top-item a {
    text-decoration: none;
}

#page-header
.nav-top-item:hover {
    box-shadow: inset 0 0 2px 2px #EEE;
}

#page-header-right {
    position: relative;
    height: 100%;
}

#page-header-cart {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 13px;
    z-index: 996;
}

#page-header-cart a {
    text-decoration: none;
}

#header-cart-cart:hover,
#header-cart-checkout:hover {
    text-decoration: underline;
    cursor: pointer;
}

#page-header-phone {
    position: absolute;
    top: 50px;
    right: 10px;
    text-align: center;
}

#header-phone-num,
#header-phone-num a {
    font-size: 35px;
    line-height: 35px;
    color: #895c9a;
    font-weight: 400;
    margin-top: 0;
    font-family: 'Tahoma', Helvetica, "Helvetica Neue", Arial, sans-serif;
    text-decoration: none;
}




/* MAIN NAV
***********************/
.nav-main {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 997;
    background-color: #F0F0F0;
}

.nav-main-list {
    height: 40px;
}

.nav-main-item {
    position: relative;
    float: left;
    top: 0;
    height: 40px;
    list-style-type: none;
    border-right: 3px solid #FFF;
    background: #F0F0F0 url('../images/nav-main-unselected.png')  left bottom repeat-x;
    margin-bottom: 0;
}

.nav-main-item.selected,
.nav-main-item:active,
.nav-main-item:hover {
    background: #F0F0F0 url('../images/nav-main-selected.png') left bottom repeat-x;
}

.nav-main-list:hover .nav-main-item.selected,
.nav-main-item:active ~ .nav-main-item.selected {
    background-image: url('../images/nav-main-unselected.png');
}
.nav-main-list:hover .nav-main-item.selected:not(.search):hover {
    background-image: url('../images/nav-main-selected.png') !important;
}
.nav-main-item.search:hover ~ .nav-main-item.selected {
    background-image: url('../images/nav-main-selected.png') !important;
}

.nav-main-item.last.search {
    float: right;
    position: relative;
    padding: 0 5px 0 0;
    border: none;
    background-image: url('../images/nav-main-unselected.png') !important;
}

.nav-main-item.main-nav-select {
    display: none;
}
.main-nav-select-loading {
    display: none;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 102px;
    height: 100%;
    background: #EEE url('../images/loader.gif') center center no-repeat;
    background-size: auto 80%;
    opacity: 0.5;
}

.nav-main-item > a {
    text-transform: uppercase;
    color: #555;
    font-family: 'FuturaStd-Medium';
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 12px 10px 0;
}

.nav-main-item.parent {
    position: relative;
}

.nav-main-item.parent ul {
    display: none;
    position: absolute;
    left: 0px;
    top: 40px;
    width: auto;
    margin: 0;
    padding: 10px 0 0 0;
    background: #e6e6e6 url('../images/nav-main-unselected.png') left bottom repeat-x;
    background-size: auto 100%;
    white-space: nowrap;
}

.nav-main-item.parent:hover > ul {
    display: block;
}

.nav-main-item.parent > ul > li > ul {
    top: 0;
    left: 100%;
}

.nav-main-item.parent:hover > ul > li:hover > ul {
    display: block;
}

.nav-main-item.parent ul li a {
    display: block;
    width: 100%;
    /* height: 100%; */
    padding: 5px 0;
}

.nav-main-item.parent ul li {
    /*height: 22px;*/
    text-transform: uppercase;
    color: #555;
    padding: 5px 10px;
    font-family: 'FuturaStd-Medium', Arial, Helvetica, sans-serif;
}

.nav-main-item.parent:hover ul li:hover {
    background: #e6e6e6 url('../images/nav-main-selected.png') left bottom repeat-x;
}

#glob-search-form {
    display: inline-block;
    padding: 6px 0;
    float: right;
}

#glob-search-form input {
    outline: none;
    float: left;
}

#glob-search-input{
    height: 28px;
    width: 180px;
    margin: 0;
    padding: 0 0 0 30px;
    border: none;
    background: white url('../images/glob-search-bg.png') 7px center no-repeat;
    font-family: 'Tahoma', Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    color: #888;
    position:relative;
    z-index: 9;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #glob-search-input{
        width: 205px !important;
    }
}

#glob-search-input::-webkit-search-cancel-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    color: #555;
    text-align: center;
    cursor: pointer;
}

#glob-search-submit {
    width: 100px;
    height: 30px;
    margin: -1px 5px 0 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background: transparent url('../images/glob-search-submit.png') center center no-repeat;
    text-indent: -10000px;
    z-index: 99;
}

/* Mobile Search Toggle Handle Styles
*****************************************/

#nav-main #mobile-search-toggle-wrap {
    width: 55px;
    background-image: none !important;
}
#nav-main #mobile-search-toggle-wrap #mobile-search-toggle {
    display: block;
    background: transparent url('../images/glob-search-submit-mini.png') center center no-repeat;
    width: 40px;
    height: 30px;
    border-radius: 15px;
    padding: 0;
    margin: 5px auto;
    box-shadow: 0 0 4px 1px #FFF;
}