/***********************\
|  Product Page Styles  |
\***********************/


/* Product Image Styles
*********************************************************************************/
#product-img-main {
    background: transparent url('../images/hash-border.png') center center repeat;
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
}

#product-img-main img:after { content: "\00D\00A"; display: block; height: 0; clear: both; visibility: hidden; }

#product-img-main-img {
    width: 380px;
    height: auto;
    /*margin: 10px 10px 5px 10px;*/
    margin: 0 10px;
}

#product-img-views {
    width: 420px;
    margin: 0px;
}

.product-img-view {
    float: left;
    background: transparent url('../images/hash-border.png') center center repeat;
    margin: 0 5px;
    width: 125px;
    display: block;
    height: 87px;
}

.product-img-view.first,
.product-img-view.last {
    margin: 0 7px;
}

.product-img-view {
    background-color: rgba(200, 200, 200, 0.3);
}

.product-img-view.current {
    background-color: rgba(138, 99, 153, 0.3);
}

.product-img-view-thumb {
    width: 115px;
    height: 77px;
    /*padding: 5px 5px 0 5px;*/
    padding: 0 5px;
    cursor: pointer;
}

/*****************************************************************************\
|*************************** Right Column Details ****************************|
\*****************************************************************************/

#product-details {
    margin-top: 10px;
}

/* Product Title
******************************************************************************/
#product-details-title {
    color: #8a6399;
    font-family: 'abeatbyKai';
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: 5px;
}

/* Subtext under Title (Review overall, item #, sku #)
******************************************************************************/

#product-details-sub {
    color: #555;
}

#product-details-sub-review {

}

#product-details-sub-review-stars {}

.review-stars {
    height: 12px;
    width: 70px;
    background: transparent url('../images/stars.png') 0px 0px no-repeat;
    display: inline-block;
}
.review-stars._50{background-position: 0px 0px;}
.review-stars._45{background-position: 0px -12px;}
.review-stars._40{background-position: 0px -24px;}
.review-stars._35{background-position: 0px -36px;}
.review-stars._30{background-position: 0px -48px;}
.review-stars._25{background-position: 0px -60px;}
.review-stars._20{background-position: 0px -72px;}
.review-stars._15{background-position: 0px -84px;}
.review-stars._10{background-position: 0px -96px;}
.review-stars._05{background-position: 0px -108px;}
.review-stars._00{background-position: 0px -120px;}

#product-details-sub-review-text {

}

#product-details-sub-review-text a {
    text-decoration: none;
    color: #0066bb;
}

#product-details-sub-review-text a:hover {
    text-decoration: underline;
}

.product-details-sub-pipe {

}

#product-details-sub-item {

}

#product-details-sub-model {

}

/* Price Boxes
******************************************************************************/

#product-details-price {
    margin: 10px auto;
    clear: right;
    padding: 5px;
    background: transparent url('../images/hash-border.png') center center repeat;
}

.product-details-price-section {
    float:left;
    width: 240px;
    padding: 10px 6px;
    /*height: 100%;*/
    background: #FFF;
    font-size: 16px;
    font-family: 'FuturaStd-Medium';
}

.product-details-price-label {
    width: 45%;
    text-align: right;
    display: inline-block;
}

.product-details-price-amount {
    width: 45%;
    display: inline-block;
    text-align: center;
}

#product-details-price-separator {
    float: left;
    width: 5px;
    height: 41px;
    background: transparent;
}

#product-details-price-original-price {
    text-decoration: line-through;
}

#product-details-price-sale {
    color: #8a6399;
}

#product-details-price-sale-price {
    font-family: 'FuturaStd-Bold';
}

/* Special Offers Section
******************************************************************************/

#product-details-special {
    margin-bottom: 10px;
    font-family: 'FuturaStd-Medium';
}

#product-details-special-label {
    color: #8a6399;
    margin: 0 10px 0 5px;
}

#product-details-special-text {
    color: #555;
}

#product-details-special-text .purpText {
    background: inherit;
    color: #8a6399;
}

/* Product Options (Color and Quantity)
******************************************************************************/

.product-details-options {
    border: 1px solid #e6e6e6;
    border-right: none;
    border-left: none;
    margin-bottom: 15px;
}

.product-details-options-mdd {
    position: absolute;
    left: -10000px;
}

.product-details-options-section {
    width: 239px;
    float: left;
    margin: 10px;
}

#product-details-options-color {
    border-right: 1px solid #e6e6e6;
}

.product-details-options-label {
    float: left;
    margin-left: 10px;
}

#product-details-options-color-swatches {
    padding-left: 30px;
    width: 86px;
    height: 21px;
    float: left;
    display: inline-block;
}

.product-details-options-color-swatch {
    height: 20px;
    width: 20px;
    border: 1px solid #e6e6e6;
    margin: 0 2px;
    display: inline-block;
    cursor: pointer;
}

.product-details-options-color-swatch.selected {
    box-shadow: 0 0 2px 2px #E8E4E3;
}

#product-details-options-color-swatches:hover .selected {
    box-shadow: none;
}

#product-details-options-color-swatches:hover .product-details-options-color-swatch:hover {
    box-shadow: 0 0 2px 2px #E8E4E3;
}

.product-details-options-color-swatch-color {
    width: 16px;
    height: 16px;
    margin: 2px;
}

#product-details-options-qty-selector {
    float: left;
}

#qty,
#product-details-options-qty-select {
    width: 60px;
    float: left;
    text-align: center;
    padding-left: 12px;
    margin: 0 0 0 20px;
}



/* Call To Action Buttons
******************************************************************************/

#product-details-btns {
    padding-bottom: 20px;
    text-align: center;
}

.product-details-btn {
    display: inline-block;
    margin: 0 20px;
}

.product-details-btn,
.product-details-btn-img{
    width: 190px;
    height: 50px;
}

.product-details-btn-img {
    text-indent: -10000px;
}

#product-details-btns-add-btn {
    background: #8f6a9d url('../images/product-details-btns-add.png') center center no-repeat;
}

#product-details-btns-checkout-btn {
    background: #56b2dd url('../images/product-details-btns-checkout.png') center center no-repeat;
}

/* Social Media Buttons
*******************************************************************************/

#product-details-social {
    text-align: center;
    height: 31px;
}

.product-details-social-btn {
    margin: 0 3px;
    height: 31px;
    display: inline-block;
    background-image: url('../images/product-details-social-sprite.png');
    background-color: transparent;
    background-position: 0px -3px;
    text-indent: -10000px;
    cursor: pointer;
}

.product-details-social-btn.fb {
    background-position: -3px -3px;
    width: 55px;
}

.product-details-social-btn.tw {
    background-position: -63px -3px;
    width: 65px;
}

.product-details-social-btn.gp {
    background-position: -133px -3px;
    width: 45px;
}

.product-details-social-btn.pn {
    background-position: -183px -3px;
    width: 60px;
}

.product-details-social-btn.em {
    background-position: -248px -3px;
    width: 60px;
}

.product-details-social-btn.hz {
    background-position: -312px -3px;
    width: 60px;
}

.product-details-social-btn.ig {
    background-position: -377px -3px;
    width: 80px;
}

/* Product Tab Box Section
*******************************************************************************/

#product-tabs {
    position: relative;
    display: block;
    height: 500px;
    /*height: auto;*/
    margin: 20px auto;
    padding: 10px;
    padding-top: 0;
    background: transparent url('../images/hash-border.png') 0 0 repeat;
}

.product-tab {
    position: absolute;
    display: block;
    top: 40px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    /*height: 12em;*/
    height: auto;
    padding: 10px 20px;
    background-color: #FFF;
    z-index: 0;
}

.product-tab:first-child {
    z-index: 1;
}

.product-tab-title {
    position: absolute;
    font-size: 16px;
    font-weight: normal;
    width: 235px;
    height: 35px;
    top: -35px;
    left: 0;
    padding: 0;
    margin: 0;
    color: #AAA;
    /*background: #FFF url('../images/hash-border.png') 0 0 repeat;*/
    background: transparent;
    /*border-top: 1px solid #e6e6e6;*/
}

.product-tab:nth-child(2) .product-tab-title {
    left: 235px;
}

.product-tab:nth-child(3) .product-tab-title {
    left: 470px;
}

.product-tab:nth-child(4) .product-tab-title {
    left: 705px;
}

.product-tab-title a {
    display: block;
    width: 100%;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    outline: 0 none;
    text-transform: uppercase;
}

.product-tab.active {
    z-index: 2;
}

.product-tab .product-tab-body {
    background-color: #FFF;
    z-index: 1;
}

.product-tab.active .product-tab-body {
    z-index: 2;
}

.product-tab:target .product-tab-title,
.product-tab.active .product-tab-title {
    color: #8a6399;
    background-image: none;
    background-color: #FFF;
    z-index: 2;
}

.product-tab:target .product-tab-title a,
.product-tab.active .product-tab-title a {
    margin-right: 10px;
}

.product-tab.active .product-tab-body {
    z-index: 2;
}

.product-tab.active .product-tab-title.active {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 20px 30px 0;
    border-style: solid;
    border-color: #FFF transparent;
    background-image: url('../images/hash-border.png');
}

.product-tab,
.product-tab .product-tab-title,
.product-tab .product-tab-body {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.product-tab-body ul {
    list-style: disc;
    margin-left: 50px;
}