<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Relatedcategory>
      <version>0.1.0</version>
    </Magebuzz_Relatedcategory>
  </modules>
  <frontend>
    <secure_url>
      <relatedcategory>/relatedcategory/</relatedcategory>
    </secure_url>	
    <routers>
      <relatedcategory>
        <use>standard</use>
        <args>
          <module>Magebuzz_Relatedcategory</module>
          <frontName>relatedcategory</frontName>
        </args>
      </relatedcategory>
    </routers>
    <layout>
      <updates>
        <relatedcategory>
          <file>relatedcategory.xml</file>
        </relatedcategory>
      </updates>
    </layout>
  </frontend>
  <admin>
    <routers>
      <relatedcategory>
        <use>admin</use>
        <args>
          <module>Magebuzz_Relatedcategory</module>
          <frontName>relatedcategory</frontName>
        </args>
      </relatedcategory>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <relatedcategory>
          <file>relatedcategory.xml</file>
        </relatedcategory>
      </updates>
    </layout>
  </adminhtml>   
  <global>
    <models>
      <relatedcategory>
        <class>Magebuzz_Relatedcategory_Model</class>
        <resourceModel>relatedcategory_mysql4</resourceModel>
      </relatedcategory>
      <relatedcategory_mysql4>
        <class>Magebuzz_Relatedcategory_Model_Mysql4</class>
        <entities>
          <relatedcategory>
            <table>relatedcategory</table>
          </relatedcategory>
        </entities>
      </relatedcategory_mysql4>
    </models>
    <resources>
      <relatedcategory_setup>
        <setup>
          <module>Magebuzz_Relatedcategory</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </relatedcategory_setup>
      <relatedcategory_write>
        <connection>
          <use>core_write</use>
        </connection>
      </relatedcategory_write>
      <relatedcategory_read>
        <connection>
          <use>core_read</use>
        </connection>
      </relatedcategory_read>
    </resources>
    <blocks>
      <relatedcategory>
        <class>Magebuzz_Relatedcategory_Block</class>
      </relatedcategory>	
      <catalog>
        <rewrite>
          <product_list_related>Magebuzz_Relatedcategory_Block_Catalog_Product_List_Related</product_list_related>
        </rewrite>
      </catalog>
    </blocks>
    <helpers>
      <relatedcategory>
        <class>Magebuzz_Relatedcategory_Helper</class>
      </relatedcategory>
    </helpers>
    <template>
      <email>
        <relatedcategory_general_email_template>
          <label>Title Email</label>
          <file>relatedcategory_example.html</file>
          <type>html</type>
        </relatedcategory_general_email_template>
      </email>
    </template>			
  </global>
  <!--Set Default Value For Setting Options-->
  <translate>
    <modules>
      <Magebuzz_Relatedcategory>
        <files>
          <default>Magebuzz_Relatedcategory.csv</default>
        </files>
      </Magebuzz_Relatedcategory>
    </modules>
  </translate>	
</config>