<?xml version="1.0"?>

<config>
    <modules>
        <Prestazilla_All>
            <version>1.0.0</version>
        </Prestazilla_All>
    </modules>
    <global>        
        <helpers>
            <prestazillaall>
                <class>Prestazilla_All_Helper</class>
            </prestazillaall>
        </helpers>
    </global>
</config>