<?xml version="1.0"?>
<config>
    <modules>
        <Locations_States>
            <version>0.0.1</version>
        </Locations_States>
    </modules>
    <global>
        <helpers>
            <states>
                <class>Locations_States_Helper</class>
            </states>
        </helpers>
        <blocks>
            <states>
                <class>Locations_States_Block</class>
            </states>
        </blocks>
    </global>
</config>