/* Webfont: FuturaStd-CondensedLight */@font-face {
    font-family: 'FuturaStdCondensedLight';
    src: url('FuturaStd-CondensedLight.eot'); /* IE9 Compat Modes */
    src: url('FuturaStd-CondensedLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaStd-CondensedLight.woff') format('woff'), /* Modern Browsers */
         url('FuturaStd-CondensedLight.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaStd-CondensedLight.svg#FuturaStd-CondensedLight') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

