/* Webfont: FuturaStd-Book */@font-face {
    font-family: 'FuturaStdBook';
    src: url('FuturaStd-Book.eot'); /* IE9 Compat Modes */
    src: url('FuturaStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaStd-Book.woff') format('woff'), /* Modern Browsers */
         url('FuturaStd-Book.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaStd-Book.svg#FuturaStd-Book') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

