/* Webfont: FuturaStd-Bold */@font-face {
    font-family: 'FuturaStdBook';
    src: url('FuturaStd-Bold.eot'); /* IE9 Compat Modes */
    src: url('FuturaStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaStd-Bold.woff') format('woff'), /* Modern Browsers */
         url('FuturaStd-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaStd-Bold.svg#FuturaStd-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

