/* Webfont: FuturaStd-BoldOblique */@font-face {
    font-family: 'FuturaStdBook';
    src: url('FuturaStd-BoldOblique.eot'); /* IE9 Compat Modes */
    src: url('FuturaStd-BoldOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaStd-BoldOblique.woff') format('woff'), /* Modern Browsers */
         url('FuturaStd-BoldOblique.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaStd-BoldOblique.svg#FuturaStd-BoldOblique') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

