

.btn-circle i,.fa-search-btn i{
	
	   color: #555555;
	   
}
html .first-bg-hover:hover i{
	color:#fff;
}


.error-msg:before, .success-msg:before, .note-msg:before, .notice-msg:before{
content: "\f05a";
  color: #FFFFFF !important;
    display: block;
    float: left;
    font-family: "FontAwesome";
    font-size: 20px;
    left: 33px;
    margin-right: 8px;
    position: absolute;
    text-shadow: none;
    top: 9px;
	 
}
