<?xml version="1.0"?>
<config>
    <modules>
        <Slider_Slider>
            <version>0.1.0</version>
        </Slider_Slider>
    </modules>
   
	
    <global>
		<blocks>
			<slider>
				<class>Slider_Slider_Block</class>
			</slider>
		</blocks>
   </global>
   <frontend>
        <routers>
            <slider>
                <use>standard</use>
                <args>
                    <module>Slider_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>  
		 <layout>
            <updates>
                <slider>
                    <file>slider.xml</file>
                </slider>
            </updates>
        </layout>
    </frontend>
</config>